{% extends 'base.html.twig' %} 

{% form_theme  formCreatUser'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class = "jumbotron">
{{ form_start(formCreatUser) }}
    {{ form_widget(formCreatUser) }}

<button type"submit" class="btn btn-success"> J'enregistre </button>

{{ form_end(formCreatUser) }}
</div>

{% endblock %}
