{% extends 'base.html.twig' %}

{% block title %}Liste des Biens!{% endblock %}

{% block body %}


<div class = "jumbotron">


{% for article in articles %}
    <article>
            <h2>{{article.title}}{{article.id}}</h2>
            <div class = "metadata"> Ecrit le  21/10/2019 / Categorie </div>

            <div class = "content">
                <img src="https://via.placeholder.com/300x200" alt="">
                {{article.content}}
                <a href="{{path('blog_show', {'id' : article.id})}}"  "class="btn btn-primary"> Lire la suite </a>      
            </div>          
    </article>
          
{% endfor %}
 
</div>
    


{% endblock %}