{% extends 'base.admin.html.twig' %}

{% block title %}Hello AdministratorController!{% endblock %}

{% block body %}
<div class="jumbotron">
Page d'accueil
</div>

Bienvenue dans la partie d'amdinistration du site.

{% endblock %}
